<html>
    <head>
        <title>ログイン</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>サインインしてください</h1>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        チャットを行うにはサインインが必要です
                    </h3>
                </div>
                <div class="panel-body">
                    <p>サインインに利用するサービスを選んでください</p>
                    <ul>
                        <li>
                            <a href="/auth/login/facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="/auth/login/github">GitHub</a>
                        </li>
                        <li>
                            <a href="/auth/login/google">Google</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>